---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: mcp-server-aap
  namespace: mcp
  labels:
    app: mcp-server-aap
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mcp-server-aap
  template:
    metadata:
      name: mcp-server-aap
      labels:
        app: mcp-server-aap
    spec:
      containers:
        - name: mcp-server-aap
          image: 'quay.io/rh-ee-dwaters/mcp-server-aap:latest'
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          envFrom:
            - configMapRef:
                name: mcp-server-aap