apiVersion: v1
kind: ConfigMap
metadata:
  name: example-policy
  namespace: {{ opa_namespace }}
data:
  example.rego: |-
    package aap_tests

    default allowed := {
      "allowed": true,
      "violations": [],
    }

    default has_change_or_incident := false

    has_change_or_incident if {
      count(input.extra_vars.change_number) > 0
    }

    has_change_or_incident if {
      count(input.extra_vars.incident_number) > 0
    }

    allowed := {
      "allowed": false,
      "violations": ["No change or incident number supplied"],
    } if {
      has_change_or_incident == false
    }
